<li>
  <%= gravatar_for user, size: Settings.size.size_50 %>
  <%= link_to user.name, user %>
  <% if is_admin?(user) %>
    | <%= link_to t("users.destroy.delete"), user, method: :delete, data: {confirm: t("confirm")} %>
  <% end %>
</li>
